<div class="middle container">
  <div class="middle__container">

    <h1 class="middle__header">New Author</h1>

    <%= form_with model: @author, class: 'form' do |form| %>
      <div class="form__field">
        <%= form.label :name, class: "form__label" %>
        <%= form.text_field :name, class: "form__input" %>
      </div>

      <div class="form__field">
        <%= form.label :birthday, class: "form__label" %>
        <%= form.date_field :birthday,
                        min: Date.today,
                        autocomplete: "birthday",
                        class: "form__input" %>
      </div>

      <div class="form__field">
        <%= form.label :also_known_as, class: "form__label" %>
        <%= form.text_field :also_known_as, multiple: true, class: "form__input" %>
      </div>

      <div>
        <%= form.submit class: "button" %>
      </div>
    <% end %>
    
  </div>
</div>
