<!DOCTYPE html>
<html>
  <head>
    <title>RateYourBoox</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>
  <body>
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <% if alert %>
      <div class="toast" data-controller="toast">
        <%= octicon "alert", class: "toast__icon", "aria-label": "alert icon" %>
        <p class="toast__text"><%= alert %></p>
        <%= octicon "x", class: "toast__close-icon", "aria-label": "close button", "data-controller": "toast.close" %>
      </div>
    <% end %>
  </body>
</html>
